<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Đăng Kí </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="owl.carousel.css">
    <link rel="stylesheet" href="owl.theme.css">
    <link rel="stylesheet" href="owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="normalize.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="metisMenu.min.css">
    <link rel="stylesheet" href="metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="fullcalendar.min.css">
    <link rel="stylesheet" href="fullcalendar.print.min.css">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="all-type-forms.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="color-line"></div>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
            <div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-center custom-login">
                    <h3>Đăng Kí</h3>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="/register" method="POST" id="loginForm">
                            <div class="row">
                                {{#if mess}}
                                  <div class="form-group col-lg-12 color-red text-center">
                                      <input class="form-control" type="text" value="{{mess}}" readonly id="error-message">
                                  </div>
                                {{/if}}
                                <div class="form-group col-lg-12 color-red text-center">
                                      <div  id="error-message"></div>
                                  </div>
                                <div class="form-group col-lg-12">
                                    <label>Tên Đăng Nhập</label>
                                    <input class="form-control" name="Username" id="Username">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Mật Khẩu</label>
                                    <input type="password" class="form-control" name="Password">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Xác Nhận Lại Mật Khẩu</label>
                                    <input type="password" class="form-control" name="ConfirmPass">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Địa Chỉ Email</label>
                                    <input class="form-control" type="email" name="Email">
                                </div>
                            </div>
                            <div class="text-center">
                                <input id="register" type="submit" class="btn btn-success loginbtn" value="Đăng Kí">
                                <button class="btn btn-default"><a href="/">Hủy</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Copyright &copy; 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
            </div>
        </div>
    </div>

    <script>
        $('#Username').keyup(function() {
            $.getJSON('/check?Username='+$('#Username').val(), function (data){
              if (data) {
                  $('#error-message').html('Username đã tồn tại. Vui lòng chọn email khác.');
                  $("#register").attr("disabled", true);
              }
              else {
                  $('#error-message').html('');
                  $("#register").attr("disabled", false);
              }
            })
        });
    </script>

    <!-- jquery
		============================================ -->
    <script src="jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="metisMenu.min.js"></script>
    <script src="metisMenu-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="tab.js"></script>
    <!-- icheck JS
		============================================ -->
    <script src="icheck.min.js"></script>
    <script src="icheck-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="main.js"></script>
</body>

</html>