<div>
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row" style="margin-top:5px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row" style="background-color:red; height:45px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcome-heading" style="margin-top:4px;">
                                    <form role="search" class="">
                                        <div class="col-xs-9" style="margin-left:-14px;">
                                            <input type="text" placeholder="Search..." class="form-control">
                                        </div>
                                        <div class="col-xs-3" style="margin-left:-20px;">
                                            <button type="button" class="btn btn-primary">Search</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="col-md-7"></div>
                                <div class="col-md-2" style="margin-top:10px;">
                                    <a href="#">Home</a>
                                </div>
                                <div class="col-md-1" style="margin-top:10px;">
                                    <span class="bread-slash">/</span>
                                </div>
                                <div class="col-md-2" style="margin-top:10px;">
                                    <span class="bread-blod">Analytics</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="income-order-visit-user-area mg-t-15">
    <div class="container-fluid">
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="income-dashone-total reso-mg-b-30" style="background-color:white; border:1px solid gainsboro">
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="row container-fluid">
                                <div class="col-md-4">
                                    <div class="price-adminpro-rate">
                                        <h4 style="font-weight:bold"><span>$</span><span class="counter">7500</span></h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="price-graph">
                                        <span id="sparkline1"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="income-range" style="margin-top:20px;">
                            <div class="row container-fluid">
                                <div class="col-md-7">
                                    <p>Total income</p>
                                </div>
                                <div class="col-md-5">
                                    <span class="income-percentange bg-green" style="background-color:lightseagreen; color:white">
                                        <span class="counter">95</span>% <i class="fa fa-bolt"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="income-dashone-total reso-mg-b-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="row container-fluid">
                                <div class="col-md-4">
                                    <div class="price-adminpro-rate">
                                        <h4 style="font-weight:bold"><span class="counter">6400</span></h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="price-graph">
                                        <span id="sparkline6"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="income-range order-cl" style="margin-top:20px;">
                            <div class="row container-fluid">
                                <div class="col-md-7">
                                    <p>New Orders</p>
                                </div>
                                <div class="col=md-5">
                                    <span class="income-percentange bg-red" style="background-color:palevioletred; color:white;">
                                        <span class="counter">65</span>% <i class="fa fa-level-up"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="income-dashone-total reso-mg-b-30 res-mg-t-30" style="background-color:white; border:1px solid gainsboro">
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="row container-fluid">
                                <div class="col-md-5">
                                    <div class="price-adminpro-rate">
                                        <h4 style="font-weight:bold"><span class="counter">4500</span></h4>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="price-graph">
                                        <span id="sparkline2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="income-range visitor-cl" style="margin-top:20px;">
                            <div class="row container-fluid">
                                <div class="col-md-7">
                                    <p>New Visitor</p>
                                </div>
                                <div class="col-md-5">
                                    <span class="income-percentange bg-blue" style="background-color:cornflowerblue; color:white;">
                                        <span class="counter">75</span>% <i class="fa fa-level-up"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="income-dashone-total res-mg-t-30" style="background-color:white; border:1px solid gainsboro">
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="row container-fluid">
                                <div class="col-md-4">
                                    <div class="price-adminpro-rate">
                                        <h4 style="font-weight:bold"><span class="counter">235400</span></h4>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="price-graph">
                                        <label id="sparkline4"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="income-range low-value-cl" style="margin-top:20px;">
                            <div class="row container-fluid">
                                <div class="col-md-7">
                                    <p>In first month</p>
                                </div>
                                <div class="col-md-5">
                                    <span class="income-percentange bg-purple" style="background-color:blueviolet; color:white;">
                                        <span class="counter">35</span>% <i class="fa fa-level-down"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- income order visit user End -->
<div class="income-order-visit-user-area mg-t-15">
    <div class="container-fluid">
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="income-dashone-total reso-mg-b-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="row container-fluid">
                                <div class="lead-content" style="margin-left:10px">
                                    <h4 style="font-weight:bold">95%</h4>
                                    <p>Server down 4:32 pm</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%; background-color:deepskyblue" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>95%</span> </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analytics-adminpro-wrap reso-mg-b-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="row container-fluid">
                                <div class="lead-content" style="margin-left:10px">
                                    <h4 style="font-weight:bold">85%</h4>
                                    <p>Server down 8:32 pm</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%; background-color:orange" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span> </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analytics-adminpro-wrap reso-mg-b-30 res-mg-t-30"  style="background-color:white;border:1px solid gainsboro">
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="row container-fluid">
                                <div class="lead-content" style="margin-left:10px">
                                    <h4 style="font-weight:bold">80%</h4>
                                    <p>Server down 10:32 pm</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%; background-color:dodgerblue" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>80%</span> </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analytics-adminpro-wrap res-mg-t-30"  style="background-color:white;border:1px solid gainsboro;">
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="row container-fluid">
                                <div class="lead-content" style="margin-left:10px">
                                    <h4 style="font-weight:bold">80%</h4>
                                    <p>Server down 10:32 pm</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="93%" style="width: 93%; background-color:indianred" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>93%</span> </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="income-order-visit-user-area mg-t-15">
    <div class="container-fluid">
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="background-color:white;border:1px solid gainsboro;">
                <div class="income-dashone-pro">
                    <div class="income-rate-total">
                        <div class="row container-fluid" >
                            <h5>Visits week 24h</h5>
                            <h4 style="font-weight:bold" class="counter">5600</h4>
                            <div id="sparkline4"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="analytics-content"  style="margin-left:10px;">
                        <h5>Visits week</h5>
                        <h4 style="font-weight:bold" class="counter">3400</h4>
                        <div id="sparkline23"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30 res-mg-t-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="analytics-content"  style="margin-left:10px;">
                        <h5>Last month</h5>
                        <h4 style="font-weight:bold" class="counter">3300</h4>
                        <div id="sparkline24"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line res-mg-t-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="analytics-content"  style="margin-left:10px;">
                        <h5>Avarage time</h5>
                        <h4 style="font-weight:bold">00:06:40</h4>
                        <div id="sparkline25"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="income-order-visit-user-area mg-t-15">
    <div class="container-fluid">
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="background-color:white;border:1px solid gainsboro">
                <div class="analytics-rounded reso-mg-b-30">
                    <div class="analytics-rounded-content"  style="margin-left:10px;">
                        <h5>Percentage distribution</h5>
                        <h4 style="font-weight:bold"><span class="counter">40</span>/20</h4>
                        <div class="text-center">
                            <div id="sparkline51"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analytics-rounded reso-mg-b-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="analytics-rounded-content"  style="margin-left:10px;">
                        <h5>Percentage division</h5>
                        <h4 style="font-weight:bold"><span class="counter">140</span>/<span class="counter">54</span></h4>
                        <div class="text-center">
                            <div id="sparkline51"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analytics-rounded reso-mg-b-30 res-mg-t-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="analytics-rounded-content"  style="margin-left:10px;">
                        <h5>Percentage Counting</h5>
                        <h4 style="font-weight:bold">2345/311</h4>
                        <div class="text-center">
                            <div id="sparkline52"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analytics-rounded res-mg-t-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="analytics-rounded-content"  style="margin-left:10px;">
                        <h5>Percentage Sequence</h5>
                        <h4 style="font-weight:bold">780/56</h4>
                        <div class="text-center">
                            <div id="sparkline52"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="analysis-progrebar-area mg-b-15">
    <div class="container-fluid">
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analysis-progrebar reso-mg-b-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="analysis-progrebar-content"  style="margin-left:10px;">
                        <h5>Usage</h5>
                        <h4 style="font-weight:bold"><span class="counter">90</span>%</h4>
                        <div class="progress progress-mini">
                            <div style="width: 68%;" class="progress-bar"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 1:32 pm.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analysis-progrebar reso-mg-b-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="analysis-progrebar-content"  style="margin-left:10px;">
                        <h5>Memory</h5>
                        <h4 style="font-weight:bold"><span class="counter">70</span>%</h4>
                        <div class="progress progress-mini">
                            <div style="width: 78%;" class="progress-bar"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 12:32 pm.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analysis-progrebar reso-mg-b-30 res-mg-t-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="analysis-progrebar-content"  style="margin-left:10px;">
                        <h5>Data</h5>
                        <h4 style="font-weight:bold"><span class="counter">50</span>%</h4>
                        <div class="progress progress-mini">
                            <div style="width: 38%;" class="progress-bar progress-bar-danger"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 8:32 pm.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="analysis-progrebar res-mg-t-30" style="background-color:white;border:1px solid gainsboro">
                    <div class="analysis-progrebar-content"  style="margin-left:10px;">
                        <h5>Space</h5>
                        <h4 style="font-weight:bold"><span class="counter">40</span>%</h4>
                        <div class="progress progress-mini">
                            <div style="width: 28%;" class="progress-bar progress-bar-danger"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 5:32 pm.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copy-right">
                    <p>Copyright © 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>