<div class="product-status mg-tb-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Danh Sách Tài Khoản Người Dùng</h4>
                    <div class="add-product">
                        <a href="category-add">Thêm Tài Khoản</a>
                    </div>
                    <table>
                        <tr>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Email Address</th>
                        </tr>
                        {{#each account_list}}
                        <tr>
                            <td>{{this.Username}}</td>
                            <td>{{this.Password}}</td>
                            <td>{{this.Email}}</td>
                            <td>
                                <a href="account-detail-{{this._id}}"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <form action="" method="POST">
                                    <button type="submit" data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <div class="custom-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>